{% extends "django_firstach/firstach_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if errors %}
<p style="color:red; font-weight: bold">{{errors.message}}</p>
{% endif %}
<!--<form method="POST">
	{% csrf_token %}
	{{f.as_p}}
<input type="submit" value="Go"/>
</form>-->
{% crispy f f.helper %}
{% endblock %}
