{% extends "django_firstach/firstach_base.html" %}
{% block content %}
<ul>
<li><a href="{% url 'createCustomerProfile' %}">Create Customer Profile</a></li>
<li><a href="{% url 'createCustomerAccount' %}">Create Customer Account</a></li>
</ul>
{% endblock %}
